<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <h1> {{>header}}
        </h1>
        <h2> {{error}}</h2>
    </div>
    <p>{{>footer}}</p>
</body>

</html>