<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <h1>
            {{>header}}
        </h1>
        <p>
            This site uses data from weatherstack.com and positionstack.net
        </p>
        <img class='superheropic' src="/images/dreamteam.jpeg">

    </div>

    <p>{{>footer}}</p>
</body>

</html>